@model YummyMummy.Models.Inquiry

@{
    ViewBag.Title = "Inquiry Dashboard";
    Layout = "_Layout"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Inquiry Dashboard</title>
</head>
<body>
    <h1> Weclome to Yummy Mummy Kitchen's Inquiry Dashboard</h1>
    <div>

    </div>
</body>
</html>
