@model YummyMummy.Models.Recipe
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yummmy Mummy's Kitchen</title>
</head>
<body>
    <div>
        <h3>Welcome to Yummmy Mummy's Kitchen</h3>

    </div>
</body>
</html>
