@model YummyMummy.Models.Recipe
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yummmy Mummy's Kitchen</title>
</head>
<body>
    <div class="text-center">
        <h1>Welcome to Yummmy Mummy's Kitchen</h1>
        <img src="~/images/main.png" alt="" class="center-block">
        <p>Fine Asian cusine recipes. Open since 2019 we guarentee you an authentic dish from experienced chefs!</p>
    </div>
</body>
</html>
