


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yummy Mummy's Kitchen</title>
</head>
<body class="p-2">
    <h3 class="text-center">@ViewBag.Message </h3>
    <div>
        <a asp-action="List">Back to List</a> &nbsp;
        <a asp-action="Index" asp-controller="Home">Back to Home</a>
    </div>
        </body>
    </html>
