@model YummyMummy.Models.Recipe

@{
    ViewBag.Title = "Recipe Dashboard";
    Layout = null; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Recipe Dashboard</title>
</head>
<body>
    <h1> Weclome to Yummy Mummy Kitchen's Recipes Dashboard</h1>
    <div>

    </div>
</body>
</html>
